/venv
/profstats/db.sqlite3
/profstats/media
/analytics/graphs/areas_salary_inverted_hist.png
/analytics/graphs/areas_vac_fractions_pie.png
/analytics/graphs/top_skills_2015_inverted_hist.png
/analytics/graphs/top_skills_2016_inverted_hist.png
/analytics/graphs/top_skills_2017_inverted_hist.png
/analytics/graphs/top_skills_2018_inverted_hist.png
/analytics/graphs/top_skills_2019_inverted_hist.png
/analytics/graphs/top_skills_2020_inverted_hist.png
/analytics/graphs/top_skills_2021_inverted_hist.png
/analytics/graphs/top_skills_2022_inverted_hist.png
/analytics/graphs/top_skills_total_inverted_hist.png
/analytics/graphs/years_salary_comparison_hist.png
/analytics/graphs/years_salary_for_prof_hist.png
/analytics/graphs/years_salary_hist.png
/analytics/graphs/years_vac_num_comparison_hist.png
/analytics/graphs/years_vac_num_for_prof_hist.png
/analytics/graphs/years_vac_num_hist.png
/analytics/input_data/vacancies_by_years.csv
/analytics/input_data/vacancies_with_skills.csv
/analytics/input_data/vacancies_dif_currencies.csv
