{% load profession_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header></header>
  <main>
    <nav>
        <ul>
            {% show_nav %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </main>
  <footer></footer>
</body>
</html>