{% extends 'profession/base.html' %}

{% block content %}
<div class="graphs-and-tables">
    {% if settings.graphs_block_header %}
        <h2>{{settings.graphs_block_header}}</h2>
    {% endif %}

    {% if settings.graphs_block_one_header %}
        <h3 class="block-header">{{settings.graphs_block_one_header}}</h3>
    {% endif %}
    <div class="graphs-block">
        {% for item in non_prof_graphs %}
        {% if item.is_shown %}
        <div>
            {% if item.label %}
            <h3>{{item.label}}</h3>
            {% endif %}
            <img src="{{item.graph.url}}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if prof_graphs %}
    {% if settings.graphs_block_two_header %}
        <h3 class="block-header">{{settings.graphs_block_two_header}} "{{prof_name}}"</h3>
    {% endif %}
    {% endif %}
    <div class="graphs-block">
        {% for item in prof_graphs %}
        {% if item.is_shown %}
        <div>
            {% if item.label %}
            <h3>{{item.label}}</h3>
            {% endif %}
            <img src="{{item.graph.url}}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if settings.tables_block_header %}
        <h2>{{settings.tables_block_header}}</h2>
    {% endif %}
    <div class="tables-block">
        {% for object, dictionary in non_prof_tables.items %}
        {% if object.is_shown %}
        <table>
            <caption>{{object.label}}</caption>
            <tr><th>{{object.keys_label}}</th><th>{{object.values_label}}</th></tr>
            {% for key, value in dictionary.items %}
            <tr><td>{{key}}</td><td>{{value}}</td></tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endfor %}
    </div>

    {% for object, dictionary in years_skills_tables.items %}
        {% if object.is_shown %}
            <h3 class="block-header">{{object.label}}</h3>
            <div class="tables-block">
            {% for caption, columns in dictionary.items %}
                <table>
                    <caption>{{caption}}</caption>
                    <tr><th>{{object.keys_label}}</th><th>{{object.values_label}}</th></tr>
                    {% for key, value in columns.items %}
                        <tr><td>{{key}}</td><td>{{value}}</td></tr>
                    {% endfor %}
                </table>
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}


</div>
{% endblock %}