{% extends 'profession/base.html' %}

{% block content %}
<h1>Навыки</h1>
<div class="graphs-and-tables">
    <h2>Статистические графики по навыкам</h2>
    <h3 class="block-header">Самые высокочастотные навыки</h3>
    <div class="graphs-block">
        {% for item in non_prof_graphs %}
        {% if item.is_shown %}
        <div>
            {% if item.label %}
            <h3>{{item.label}}</h3>
            {% endif %}
            <img src="{{item.graph.url}}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h3 class="block-header">ТОП-10 навыков по годам для профессии {{prof_name}}</h3>
    <div class="graphs-block">
        {% for item in prof_graphs %}
        {% if item.is_shown %}
        <div>
            {% if item.label %}
            <h3>{{item.label}}</h3>
            {% endif %}
            <img src="{{item.graph.url}}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h2>Таблицы</h2>
    <div class="tables-block">
        {% for key, value in non_prof_tables.items %}
        {% if key.is_shown %}
        <table>
            <caption>{{key.label}}</caption>
            <tr><th>{{key.keys_label}}</th><th>{{key.values_label}}</th></tr>
            {% for key, value in value.items %}
            <tr><td>{{key}}</td><td>{{value}}</td></tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endfor %}
    </div>

    <div class="tables-block">
        {% for key, value in prof_tables.items %}
        {% if key.is_shown %}
        <table>
            <caption>{{key.label}}</caption>
            <tr><th>{{key.keys_label}}</th><th>{{key.values_label}}</th></tr>
            {% for key, value in value.items %}
            <tr><td>{{key}}</td><td>{{value}}</td></tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}